.showcase{
	background: url(h_img.jpg);
	font-size: 20px;
	background-size: cover;
	text-align: center;
}
.showcase h1{
	background-size: cover;
	padding-top: 120px;
	padding-bottom: 250px;
    font-family: 'Gupter', serif;
    font-family: 'Baskervville', serif;
}
.mouse{
	padding-bottom: 30px;
}
.words1{
	font-size: 25px;
	color: white;
	font-weight:bolder;
}
.words2{
	font-size: 12px;
	color: white;
	font-weight: bolder;
}
.About-sec{
	text-align: center;
	padding-top: 20px;
	font-family: 'Gupter', serif;
    font-family: 'Baskervville', serif;
}
.About-sec h2{
	font-weight: bolder;
	padding-top: 20px;
}
.About-sec p{
	padding-bottom: 30px;
}
services-sec{
	text-align: center;
	padding-top: 20px;
	background: url(s_image.jpg);
	background-size: cover;
	color: white;
}
.services-sec h3{
	padding-top: 25px;
	font-size: 30px;
	font-weight: bolder;
	font-family: 'Gupter', serif;
    font-family: 'Baskervville', serif;
}
.services-sec p{
	padding-bottom: 40px;
	font-size: 13px;
}
.col-4{
	padding-top: 20px;
	padding-left: 150px;
	font-weight: bolder;
}

.section3 h4{
	text-align: center;
	padding-top: 30px;
	font-weight: bolder;
	font-family: 'Gupter', serif;
    font-family: 'Baskervville', serif;
}
.section4 h5{
	text-align: center;
	padding-top: 30px;
	font-weight: bolder;
	font-size: 20px;
	font-family: 'Gupter', serif;
    font-family: 'Baskervville', serif;
}
col-3 img{
	grid-row-gap: 10%;
	vertical-align: middle;
	flex: 10%;
	padding-top:8%;
	padding-right:20%;
}
.row img{
   grid-row-gap: 10%;
}

.section5{
	padding-top: 35px;
}
.contact{
	text-align: center;
	background: url(c_image.jpg);
	color: white;

}
.contact h6{
	font-size: 18px;
	font-weight: bolder;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Gupter', serif;
    font-family: 'Baskervville', serif;
}
textarea {
  opacity:0.1;
  width: 50%;
  height: 200px;
  padding: 12px 20px;`
  font-size: 16px;
  color: black;
  border: 2px solid black;
  resize: none;
  padding-bottom: 30px;

}
.name{
	opacity:0.1;
	width: 35%;
	color: black;
	font-size: 12px;
	border: 3px solid black;

}
.email{
	opacity:0.1;
	width: 35%;
	color:black;
	font-size: 12px;
	border: 3px solid black;
}
.textbox{
	padding-bottom: 50px;
}
.social-icons{
	text-align: center;
	padding-top: 60px;
}
.ending{
	font-size: 15px;
	font-weight: bolder;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
#textblock1{
  position: absolute;
  bottom: 100px;
  height: 50%;
  right: 5px;
  left: 15px;
  background-color:rgba(0,3,14,0.5);
  font-weight: bolder;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
};

button{
	background-color: blue;
	border: 2px solid black;
	color: whitesmoke;
	padding: 1em 1.5em;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	font-weight: bolder;
	display: inline-block;
	width: 22%; 
}
#p1-show{
	display: none;
}
#p2-show{
	display: none;
}
#p3-show{
    display: none;
}
#hide-p1:hover{
	text-decoration: underline;
}
#pop-up{
	display: none;
	font-size: 15px;
	font-weight: bolder;
	padding-top: 10px;
	padding-bottom: 20px;
	font-family: 'Gupter', serif;
    font-family: 'Baskervville', serif;
}


